$colors: (
  primary: (
    100: hsl(349, 53%, 50%),
    200: hsl(349, 53%, 40%),
    300: hsl(349, 53%, 30%),
    400: hsl(349, 53%, 20%),
  ),
  secondary: (
    100: hsl(207, 50%, 29%),
    200: hsl(207, 50%, 22%),
    300: hsl(207, 50%, 13%),
    400: hsl(207, 50%, 08%),
  ),
  tertiary: (
    100: hsl(200, 44%, 39%),
    200: hsl(200, 44%, 29%),
    300: hsl(200, 44%, 19%),
    400: hsl(200, 44%, 09%),
  ),
  accent1: (
    100: hsl(187, 75%, 75%),
    200: hsl(187, 75%, 55%),
    300: hsl(187, 75%, 35%),
    400: hsl(187, 75%, 25%),
  ),
  accent2: (
    100: hsl(170, 74%, 82%),
    200: hsl(170, 74%, 62%),
    300: hsl(170, 74%, 45%),
    400: hsl(170, 74%, 25%),
  ),
);

@mixin oppositeBgColor($bgColor) {
  @if lightness($bgColor) < 51 {
    color: white;
    border-color: white;
  } @else {
    color: black;
    border-color: black;
  }
}

@each $colorName, $color in $colors {
  @each $shade, $value in $color {
    .clr-#{$colorName}-#{$shade} {
      background-color: $value;
      @include oppositeBgColor($value);
    }

    .btn-#{$colorName}-#{$shade} {
      background-color: $value;
      @include oppositeBgColor($value);
    }
    .btn-#{$colorName}-#{$shade}:hover {
      background-color: darken($value, 5);
    }
  }
}
