input[type="button"] {
  font-size: medium;
  margin: 0;
  padding: 0.25em 1em;
  cursor: default;
  white-space: pre;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid;
  min-width: 3ch;
}