._selectedChampion {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

._selectedChampion img {
  border-radius: 50%;
  border: 1px solid black;
  height: 110px;
  width: 110px;
  margin-right: 9px;
}

._name {
    font-weight: bolder;
    font-size: large;
}

._description {
    font-style: italic;
    font-size: smaller;
}

._role {
    font-size: small;
}